###> idea ###
/.idea/
###> idea ###

###> docker ###
/docker-compose.override.yaml
/.docker/nginx/logs/
/.docker/php/logs/
###< docker ###

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/var/
/vendor/
###< symfony/framework-bundle ###